input
  background: transparent
  border: transparent
  width: 40px
  border-bottom: darkgray 1px solid !important

input:focus
  outline: transparent

input[type=number]
  text-align: center

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

img
  height: fit-content

label
  margin-bottom: 0
