#header, #content
  min-width: 260px
  padding-left: 8px
  padding-right: 8px

textarea
  border: transparent
  padding: 8px !important

textarea:focus
  outline-color: #009444

.btn
  text-align: center
  font-size: large
  padding: 0.1rem 0.1rem

.btn-success
  background-color: #7AC943
  border-color: #7AC943

.btn-play:before
  content: ""
  width: 14px
  height: 14px
  display: inline-block
  margin-right: 5px
  vertical-align: center
  background: transparent url(/assets/ic_14px_run_button.png) no-repeat center center

.btn-stop:before
  content: ""
  width: 14px
  height: 14px
  display: inline-block
  margin-right: 5px
  vertical-align: center
  background: transparent url(/assets/ic_14px_stop_button.png) no-repeat center center
