<div id="header" class="row">
  <div class="col-12"><h5 class="panel-header-text">Run options</h5></div>
</div>
<div id="content">
  <app-stepper-input [(value)]="designPerGen" (valueChange)="designPerGenChange.emit($event)" [min]="0" [max]="9999"
                     [label]="designPerGenLabel"></app-stepper-input>
  <app-stepper-input [(value)]="numberGen" (valueChange)="numberGenChange.emit($event)" [min]="0" [max]="9999"
                     [label]="numberGenLabel"></app-stepper-input>
  <app-stepper-input [(value)]="mutationRate" (valueChange)="mutationRateChange.emit($event)" [min]="0" [max]="1"
                     [step]=".01"
                     [label]="mutationRateLabel"></app-stepper-input>
  <app-stepper-input [(value)]="elites" (valueChange)="elitesChange.emit($event)" [min]="0" [max]="9999"
                     [label]="elitesLabel"></app-stepper-input>
  <div class="row no-gutters mt-3">
    <textarea id="log-area" class="col-12" [readOnly]="true" [rows]="5">{{log}}</textarea>
  </div>
  <div class="row no-gutters mt-3">
    <button (click)="startJob()" class="btn btn-sm btn-secondary btn-play col" [class.btn-success]="!jobRunning"
            [disabled]="jobRunning">RUN
    </button>
    <button (click)="stopJob()" class="btn btn-sm btn-secondary btn-stop col ml-1" [class.btn-success]="jobRunning"
            [disabled]="!jobRunning">STOP
    </button>
  </div>
</div>
