<div id="header" class="row">
  <div class="col-12"><h5 class="panel-header-text">EXPLORE</h5></div>
</div>
<div id="content">
  <app-select-input [label]="'X Axis'" [options]="getOptions()" [value]="xAxis"
                    (valueChange)="xAxisChanged($event)"></app-select-input>
  <app-select-input [label]="'Y Axis'" [options]="getOptions()" [value]="yAxis"
                    (valueChange)="yAxisChanged($event)"></app-select-input>
  <app-select-input [label]="'Size'" [options]="getOptions()" [value]="size"
                    (valueChange)="sizeChanged($event)"></app-select-input>
  <app-select-input [label]="'Color'" [options]="getOptions()" [value]="color"
                    (valueChange)="colorChanged($event)"></app-select-input>
  <div class="row no-gutters mt-3">
    <label class="col-8">Isolate:</label>
    <app-checkbox-input class="col-4" [checked]="isolate == 0" (checkedChange)="isolateOptimal($event)"
                        [value]="'Optimal'"></app-checkbox-input>
  </div>
  <div class="row no-gutters mt-1">
    <app-checkbox-input class="col-4 offset-8" [checked]="isolate == 1" (checkedChange)="isolateSelected($event)"
                        [value]="'Selected'"></app-checkbox-input>
  </div>
  <div class="row no-gutters mt-3">
    <button class="btn btn-sm btn-success btn-reset col">RESET ZOOM</button>
    <button class="btn btn-sm btn-success btn-clear col ml-1">CLEAR SELECTED</button>
  </div>
</div>

