@import url(http://fonts.googleapis.com/css?family=Roboto:300,500);
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .4em 0 .4em;
    font-weight: 500;
}
h4{	
  padding-top: 5px;
	/*background-color: #FFF829;*/
	font-size: 1.2em;
}

em{
  color: red;
  font-weight: 500;
}

/* unvisited link */
a:link {
    color: #7326AE;
    font-weight: 500;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #C5208F;
}

/* mouse over link */
a:hover {
    color: #87005B;
}

/* selected link */
a:active {
    color: #87005B;
}

html, body, #map {
	height: 100%;
}

/*div {
  border: 1px;
  border-color: red;
  border-style: solid;
}*/

div.frame {
  width: 1600px;
}

/*div.menu {
  float: left;
  margin: 0px;
  width: 200px;
  padding: 10px;
  /*background: rgba(255,255,255,.8);
}*/

/*div.viz {
  float: left;
  width: 1250px;
  margin: 0px;
}*/

div.menu_set {
  float: left ;
  width: 100%;
  /*background-color: #f0f0f0; */
  /*margin: 0px;*/
  /*padding-left: 20px;*/
}

div.button {
  /*display:inline-block:*/
  padding-left: 4px;
  float: left ;
  width: 20px;
  height: 100%;
  cursor: pointer; 
  cursor: hand; 
  /*min-height: 40px;*/
  /*background-color: grey;*/
}

div.label {
  /*display:inline-block:*/
  padding-left: 4px;
  float: left ;
  width: 90px;
  height: 100%;
  /*min-height: 40px;*/
}

.button:hover {
  background-color: red;
}

div.menu_item {
  clear: both;
  /*padding-top: 4px;*/
  /*padding-bottom: 8px;*/
  /*display:inline-block:*/
  /*float: left ;*/
  /*width: auto;*/
  /*margin-left: 100px;*/
  /*min-height: 40px;*/
  /*background-color: #679BB7;*/
  /*width: 40px;*/
}

div.menu_object {
  padding: 4px;
  margin-bottom: 4px;
  background-color: #f0f0f0; 
  /*border: 2px;*/
  /*border-color: black;*/
  /*display:inline-block:*/
  /*float: left ;*/
  /*width: auto;*/
  /*margin-left: 100px;*/
  /*min-height: 40px;*/
  /*background-color: lightgrey;*/
  /*width: 40px;*/
}

/*div.clearfix{
    clear: both;
}*/

div.fixed {
	position: fixed;
	margin: 0px;
	padding: 10px;
	top: 0px;
	right: 0px;
	width: 266px;
	height: 500px;
	/*border: 3px solid #8AC007;*/
	background: rgba(255,255,255,.8);
}

div.tooltip{
  padding: 6px;
  background: white;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

p.tooltip{
  margin: 0px;
  padding: 0px;
}

p.footer{
	position: absolute;
	bottom: 10px;
	margin: 0;
}

input{
  border: 0px;
  /*background-color: #9BD602;*/
  /*background-color: lightgrey;*/
  /*font-size: 14px;*/
  /*border-radius: 4px;*/
  /*outline: 5;*/
}
input[type="button"] {
  padding: 8px 8px;
  color: white;
  background-color: #9BD602;
  cursor: pointer; 
  cursor: hand; 
}
input[type="button"]:hover {
  background-color: #79A700;
}
input[type="text"] {
  padding: 8px 8px;
  /*margin: 8px 4px 4px 0px;*/
  /*color: black;*/
  background-color: #f0f0f0; 
  /*width: 80px;*/
}
input[type="option"] {
  margin-left: 10px;
}
input[type="checkbox"] {
  margin-left: 10px;
}

input.entry {
  margin-left: 10px;
  width: 30px;
}

input.entry-filename {
  /*margin-left: 8px;*/
  width: 180px;
  /*border: 1px solid black;*/
  background-color: #f0f0f0; 
}

input.param-name {
  width: 140px;
}

select {
  /*padding: 8px 8px;*/
  margin-left: 10px;
  /*color: black;*/
  /*background-color: lightgrey;*/
  /*width: 80px;*/
}



.text-box {
  font-size: 12px;
  width: 1450px;
  border: 0px solid;
  /*resize: none;*/
  resize: vertical;
  overflow-y: scroll;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
    min-width : 1200px;
}

.col-log {
  float : left;
  /*width : 220px;*/
  /*height: 700px;*/
  padding: 10px;
  /*overflow-y: auto ;*/
  /*overflow-x: hidden ;*/
}

.col-menu {
  float : left;
  width : 220px;
  height: 700px;
  padding: 10px;
  overflow-y: auto ;
  overflow-x: hidden ;
}

.col-dims {
  float : left;
  width : 530px;
}

.col-chart {
  float: left;
  width : 720px;
}

.text-col {
    float : left;
    width : 150px;
    height : 700px;
    margin: 5px;
    /*background-color: white;*/
}

.options-col {
    float : left;
    width : 200px;
    height : 700px;
    margin: 5px;
    /*background-color: white;*/
}

.button-menu {
  float : left;
  width : 210px;
  margin: 5px;
}

.button-col {
    float : left;
    width : 150px;
    margin: 5px;
    /*background-color: white;*/
}

.button-chart {
    float : left;
    width : 720px;
    margin: 5px;
    /*background-color: white;*/
}

.split {
    height: 50%;
}

.title {
    padding-bottom: 5px;
}

.options {
    height: 300px ;
    overflow-y: auto ;
    overflow-x: hidden ;
    border-top-width: 1px ;
    border-top-color: black;
    border-top-style: solid;
}

.chosen {
    height: 675px ;
    overflow-y: auto ;
    overflow-x: hidden ;
    border-top-width: 1px ;
    border-top-color: black;
    border-top-style: solid;
}

p.option{
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer; 
    cursor: hand; 
}

p.option:hover { 
    background-color: lightgrey;
}

p.button-viz {
    text-align: center;
    margin: 2px;
}

button {
    margin-left: 10px;
    margin-right: 10px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

rect {
    fill: transparent;
}

.axis path, .axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.dot {
    fill-opacity: .6;
    stroke-width: 0px;
    stroke: black;
}

.dot:hover{
    cursor: crosshair; 
}

.box {
    fill-opacity: 0;
    stroke-width: 1px;
    /*stroke: black;*/
}

.box:hover{
    cursor: crosshair; 
}

div.tooltip{
    opacity: 0.9;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
    background: white;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    margin: 0px;
}

#tooltip_title{
    margin: 5px;
    font-size: 16px;
}