<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Discover</title>

  		<link rel="stylesheet" href="./static/style.css" />
      <link rel="shortcut icon" href="./static/favicon.ico">
  		
		  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

      <script type="text/javascript" src="./static/lib/d3.js"></script>
      <script type="text/javascript" src="./static/lib/socket.io.min.js"></script>
      <script type="text/javascript" src="./static/lib/kung.js"></script>

    </head>
    <body>

      <div class="tooltip"></div>

      <div class="frame">
          <div class="grid">
              <div class="col-menu", id="menu">
                <h4>Inputs</h4>

                <div id="inputs" class="menu_set"></div>

                <div>
                  <p>
                    <input id="add_input" 
                      type="button" 
                      value="+ Add Input" 
                      onclick='addOption("inputs")'>
                    </p>
                </div>

                <h4>Outputs</h4>

                <div id="outputs" class="menu_set"></div>

                <div>
                  <p>
                    <input id="add_output" 
                      type="button" 
                      value="+ Add Ouput" 
                      onclick='addOption("outputs")'>
                    </p>
                </div>

                <h4>Options</h4>

                <div id="options" class="menu_object">
                  
                  <p><span>Designs per generation</span><input class="entry" value="4" ></p>
                  <p><span>Number of generations</span><input class="entry" value="4" ></p>
                  <p><span>Mutation rate</span><input class="entry" value="0.05" ></p>
                  <p><span>Elites</span><input class="entry" value="1" ></p>
                  <p><span>Save screenshot</span><input type="checkbox" checked value="Screenshot" ></p>

                </div>
                
              </div>
              <div class="col-chart", id="chart"></div>
              <div class="col-dims">
                  <div class="text-col">
                      <div class="split">
                          <div class="title">X-axis</div>
                          <div class="options" id="list-xaxis"></div>
                      </div>
                      <div class="split">
                          <div class="title">Size</div>
                          <div class="options" id="list-radius"></div>
                      </div>
                  </div>
                  <div class="text-col">
                      <div class="split">
                          <div class="title">Y-axis</div>
                          <div class="options" id="list-yaxis"></div>
                      </div>
                      <div class="split">
                          <div class="title">Color</div>
                          <div class="options" id="list-color"></div>
                      </div>
                  </div>
                  <div class="options-col">
                      <div class="title">Selected designs</div>
                      <div class="chosen" id="list-chosen">
                      </div>
                  </div>
              </div>
          </div>

          <div class="grid">
              <div class="button-menu"><p class="button-viz">
                  <button type="button" onclick="testInputs()">Test</button>
                  <button type="button" onclick="startOptimization()">Start</button>
                  <button type="button" onclick="stopOptimization()">Stop</button>
              </p></div>

              <div class="button-chart"><p class="button-viz">
                  <input id="job-name-entry" class="entry-filename" value="" >
                  <button id="button-loadData" type="button" onclick="loadData()">Load data</button>
                  <button id="button-isolateOptimal" type="button">Isolate optimal</button>
                  <button id="button-isolateSelected" type="button">Isolate selected</button>
                  <button id="button-resetZoom" type="button">Reset zoom</button>
              </p></div>

                  <div class="button-col"><p class="button-viz"><button id="button-resetRadius" type="button">Reset</button></p></div>
                  <div class="button-col"><p class="button-viz"><button id="button-resetColor" type="button">Reset</button></p></div>
                  <div class="button-col"><p class="button-viz">
                      <button id="button-resetChosen" type="button">Reset</button>
                  </p></div>
          </div>

          <div class="grid">

            <div class="col-log">

            <h4>Log</h4>
              <p>
                <textarea class="text-box" id="stdout" rows="8" cols="38">Discover started</textarea>
              </p>
            </div>
          </div>

        </div>
      </div>

        <!-- call main function script -->
      <script type="text/javascript" src="./static/explorer.js"></script>
      <script type="text/javascript" src="./static/spec_ui.js"></script>

    </body>
</html>  