<app-navbar></app-navbar>
<div class="container-fluid" id="main-container">
  <div class="row h-100">
    <app-sidebar [menuItems]="getLeftMenuItems()" (onStausChange)="updateLeftSideBarStatus($event)">
      <div [ngSwitch]="leftSideBarStatus.selectedIndex">
        <ng-template [ngSwitchCase]="0">
          <app-run-container></app-run-container>
        </ng-template>
        <ng-template [ngSwitchCase]="1">
          <app-explore-container></app-explore-container>
        </ng-template>
      </div>
    </app-sidebar>

    <div id="centralPanel" [ngClass]="getWidthClass()">
      <div class="row no-gutters" style="max-height: 28px">
        <input class="col" [value]="'Test'">
        <img src="/assets/ic_24px_edit.png" class="ml-1 mr-4"/>
        <div style="display: inline-block;width: 28px;height: 28px;cursor: pointer">
          <img src="/assets/ic_28px_folder.png" style="position: absolute"/>
          <input type="file" [value]="'Test'" style="opacity: 0;width: 28px;height: 28px;position: absolute">
        </div>
      </div>
      <div class="row no-gutters mt-2" [ngClass]="getWidthClass()" style="height: calc(100% - 28px - 0.5rem)">
        <div class="col h-100">
          <ngx-charts-bubble-chart id="chart"
                                   [results]="bubbleDemoTempData"
                                   [autoScale]="true"
                                   [showGridLines]="showGridLines"
                                   [legend]="false"
                                   [xAxis]="xAxis"
                                   [yAxis]="yAxis"
                                   [showXAxisLabel]="showXAxisLabel"
                                   [showYAxisLabel]="showYAxisLabel"
                                   [xAxisLabel]="xAxisLabel"
                                   [yAxisLabel]="yAxisLabel"
                                   [trimXAxisTicks]="trimXAxisTicks"
                                   [trimYAxisTicks]="trimYAxisTicks"
                                   [maxXAxisTickLength]="maxXAxisTickLength"
                                   [maxYAxisTickLength]="maxYAxisTickLength"
                                   [roundDomains]="roundDomains"
                                   [minRadius]="minRadius"
                                   [maxRadius]="maxRadius"
                                   [schemeType]="schemeType"
                                   (select)="onSelectBubbleInteractivePoint($event)"
                                   [@fade]>
          </ngx-charts-bubble-chart>
        </div>
      </div>
    </div>

    <app-sidebar [menuItems]="getRightMenuItems()" (onStausChange)="updateRightSideBarStatus($event)" [inverted]='true'>
    </app-sidebar>
  </div>
</div>
