app-sidepanel
  overflow: hidden
  width: 200px
  background: lightgrey
  -webkit-transition: width 0.2s ease-out
  -moz-transition: width 0.2s ease-out
  -ms-transition: width 0.2s ease-out
  -o-transition: width 0.2s ease-out
  transition: width 0.2s ease-out

app-sidepanel.closed
  width: 0

app-sidemenu
  background: grey
  width: 60px
  height: 100%

.inverted
  flex-direction: row-reverse
